<div class="action-strip">
    <button class="action" @onclick="CreateNewBundle"><i class="fa fa-file-text-o" aria-hidden="true"></i> New</button>
    <button class="action" disabled="@(State?.ActiveUpload != null && State.ActiveUpload.LastServerId != null)" @onclick="SaveFileBundle"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
</div>