.editor-placeholder {
    width: calc(100vw - 205px);
    height: calc(100vh - 75px);
    background-color: rgb(30, 30, 30);
    color: #d4d4d4;
    overflow: auto;
    padding: 10px;
    word-break: break-all;
    overflow: hidden;
    
}


@media screen and (max-width: 780px) {

    .editor-placeholder {
        width: 100vw;
    }
}