<div class="modal-background@(State!.DisplayError ? "" : " hidden")">
    <div class="error-dialog">
        <div class="header">
            <span>@State!.Error?.Title</span>
        </div>
        <div class="body">
            @foreach (var line in State!.Error?.Text.Split(new[] { "\r", "\n", "\r\n" }, StringSplitOptions.RemoveEmptyEntries) ?? new string[0])
            {
                @line<br />
            }
        </div>
        <div class="buttons">
            <div>
                <button type="button" @onclick="CloseDialog">Close</button>
            </div>
        </div>
    </div>
</div>
