.row {
    display: flex;
}

    .row.body {
        height: calc(100vh - 63px);
    }

    .row.header {
        height: 35px;
    }

.col-left {
    flex: 0 0 200px;
}

.col-fill {
    flex: 1 1 100%;
}

@media screen and (max-width: 780px) {

    .col-left {
        flex: 0 0 100px;
    }

    .row.body .col-left {
        display: none;
    }
}