@page "/"
@page "/{uploadname}"

<div class="col-left">
    <div class="row header">
        <ActionButtons />
    </div>
    <div class="row body">
        <PasteList />
    </div>
</div>
<div class="col-fill">
    <div class="row header">
        <TabStrip />
    </div>
    <div class="row body">
        <Editor />
    </div>
</div>
<ErrorDialog />