@page "/"
@page "/{uploadname}"
@page "/{uploadname}/{activeIndex}"
<HeadContent>
    <!-- todo: validate fix for not showing in server-side render in preview 8/rc1 -->
    <title>BlazeBin@(string.IsNullOrWhiteSpace(UploadName) ? "" : $" - {UploadName}")</title>
</HeadContent>


<div class="row header">
    <div class="col-left">
        <ActionButtons />
    </div>
    <div class="col-fill">
        <TabStrip />
    </div>
</div>
<div class="row body">
    <div class="col-left">
        <PasteList />
    </div>
    <div class="col-fill">
         <Editor />
    </div>
</div>

<ErrorDialog />