@page "/"
@page "/{uploadname}"
<HeadContent> <!-- todo: validate fix for not showing in server-side render in preview 8/rc1 -->
    <title>BlazeBin@(string.IsNullOrWhiteSpace(State!.ActiveUpload?.LastServerId) ? "" : $" - {State!.ActiveUpload?.LastServerId}")</title>
</HeadContent>

<div class="col-left">
    <div class="row header">
        <ActionButtons />
    </div>
    <div class="row body">
        <PasteList />
    </div>
</div>
<div class="col-fill">
    <div class="row header">
        <TabStrip />
    </div>
    <div class="row body">
        <Editor />
    </div>
</div>
<ErrorDialog />