@page "/"
@page "/{uploadname}"
@page "/{uploadname}/{activeIndex}"

<PageTitle>BlazeBin@(string.IsNullOrWhiteSpace(UploadName) ? "" : $" - {UploadName}")</PageTitle>

<div class="row header">
    <div class="col-left">
        <ActionButtons />
    </div>
    <div class="col-fill">
        <TabStrip />
    </div>
</div>
<div class="row body">
    <div class="col-left">
        <PasteList />
    </div>
    <div class="col-fill">
        <Editor />
    </div>
</div>

<ErrorDialog />