.row {
    display: flex;
}

    .row.body {
        height: calc(100% - 35px);
    }

    .row.header {
        height: 35px;
        flex-direction: column;
    }

.col-left {
    flex: 0 0 200px;
}

.col-fill {
    flex: 1 1 100%;
}

@media screen and (max-width: 780px) {

    .col-left {
        flex: 0 0 150px;
    }
}