
.paste-list-header {
    flex: 1 1 100%;
}

    .paste-list-header > span {
        display: block;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 5px;
        font-size: 1.1rem;
        line-height: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
    }

.paste-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-left: 3px;
}

.paste-list-section {
    width: 100%;
    height: 33.33%;
    overflow: auto;
}

    .paste-list-section::-webkit-scrollbar {
        width: 10px;
    }

    .paste-list-section::-webkit-scrollbar-track {
        background: none;
    }

    .paste-list-section::-webkit-scrollbar-thumb {
        background-color: #37373d;
    }


.full-width {
    width: 100%;
}

.dirty-indicator {
    height: 7px;
    width: 7px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
}

.paste {
    flex: 1 1 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    height: 25px;
}

    .paste.dirty{
        font-style: italic;
    }

    .paste:hover {
        background-color: rgba(90, 93, 94, 0.31);
    }

        .paste:hover > .remove-paste-button {
            display: inline-block;
        }

        .paste:hover > .favorite-button {
            display: inline-block;
        }


input[type="radio"] {
    display: none;
}

    input[type="radio"] + label {
        width: 100%;
        cursor: pointer;
        padding-left: 5px;
    }

.paste.selected {
    background-color: #37373d
}

.remove-paste-button {
    flex: 0 0 25px;
    display: none;
    padding: 1px 6px;
    float: right;
    cursor: pointer;
}

    .remove-paste-button:hover {
        border-radius: 3px;
        border: 1px solid lightgray;
        background-color: rgba(90, 93, 94);
        padding: 0 5px;
    }

.favorite-button {
    display: none;
    flex: 0 0 25px;
    padding: 1px 6px;
    float: right;
    cursor: pointer;
}

    .favorite-button:hover {
        border-radius: 3px;
        border: 1px solid lightgray;
        background-color: rgba(90, 93, 94);
        padding: 0 5px;
    }


.fa-star.active {
    color: rgb(255, 255, 203);
}