footer {
    background: rgba(255, 255, 203, 0.8);
    color: #000;
    line-height: 1.5;
    font-family: monospace;
    padding-left: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    padding-top: 3px;
}

    .banner span {
        font-family: monospace;
        font-style: italic;
        padding-left: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;

    }
    .banner {
        display:inline-block;
    }

.policy-container {
    display: inline-block;
    float: right;
    flex: 1;
}

.policy-container > a {
    padding-right: 5px;
    padding-left: 5px;

    color: black;
}

@media screen and (max-width: 780px) {
    .banner {
        display: none;
    }
}