@inherits LayoutComponentBase

<section class="container@(clientSideRendered ? "" : " blur")">
    @Body
</section>
<Footer />
@if (!clientSideRendered)
{
    <div class="loading-modal">
            <div class="loader"></div>
    </div>
}

@code {
    bool clientSideRendered = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            clientSideRendered = true;
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }
}