@inherits LayoutComponentBase
@inject BlazeBinStateContainer state

<section class="container@(state.IsServerSideRender ? " blur" : "")">
    @Body
</section>
<Footer />
@if (state.IsServerSideRender)
{
    <div class="loading-modal">
        <div class="loader"></div>
        <div class="basic-link-container shown">
            <span>Too slow?</span><br /><span>Try the <a href="@(state.ActiveUpload?.LastServerId == null ? "/basic" : $"/basic/viewer/{state.ActiveUpload.LastServerId}/{state.ActiveFileIndex}")">basic</a> version of BlazeBin</span>
        </div>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("mainlayout init");
    }
}