

#app > section.placeholder .action-strip {
    flex: 0 0;
    display: flex;
    flex-direction: row;
    height: 35px;
}

    #app > section.placeholder .action-strip > .action {
        flex: 1 1 100%;
        height: 35px;
        text-align: center;
        border-style: none;
        border-right: 1px solid rgb(37, 37, 38);
        background-color: rgb(45, 45, 45);
        padding-left: 5px;
        color: rgb(255, 255, 255);
    }

#app > section.placeholder .row {
    display: flex;
}

    #app > section.placeholder .row.body {
        height: 100%;
    }

    #app > section.placeholder .row.header {
        height: 35px;
        flex-direction: column;
    }

#app > section.placeholder .col-left {
    flex: 0 0 200px;
}

#app > section.placeholder .col-fill {
    flex: 1 1 100%;
}

#app > section.placeholder .paste-list-header {
    flex: 1 1 100%;
}

    #app > section.placeholder .paste-list-header > span {
        display: block;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 5px;
        font-size: 1.1rem;
        line-height: 13px;
        font-weight: bold;
        text-transform: uppercase;
    }

#app > section.placeholder .paste-list {
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    #app > section.placeholder .paste-list > .paste {
        flex: 1 1 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 3px;
        padding-bottom: 3px;
        line-height: 13px;
    }

        #app > section.placeholder .paste-list > .paste > span {
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            width: 180px;
            display: inline-block;
            padding: 0 0 0 5px;
        }

        #app > section.placeholder .paste-list > .paste.selected {
            background-color: #37373d
        }

        #app > section.placeholder .paste-list > .paste > .remove-paste-button {
            flex: 0 0 25px;
            display: inline-block;
            padding: 1px 6px;
            float: right;
            cursor: pointer;
        }


#app > section.placeholder .tabstrip {
    flex-wrap: wrap;
    display: flex;
    height: 35px;
}

    #app > section.placeholder .tabstrip > .new-tab {
        font-size: 2.8rem;
        cursor: pointer;
        line-height: 3rem;
        padding: 1px 9px;
    }

    #app > section.placeholder .tabstrip > .tab {
        flex: 0 0 auto;
        min-width: 200px;
        border-right: 1px solid rgb(37, 37, 38);
        background-color: rgb(45, 45, 45);
        line-height: 35px;
        padding-left: 5px;
        color: rgb(255, 255, 255, 0.5)
    }

        #app > section.placeholder .tabstrip > .tab.selected {
            background-color: rgb(30, 30, 30);
            color: #ffffff
        }

        #app > section.placeholder .tabstrip > .tab span {
            min-width: 100px;
        }

#app > section.placeholder footer {
    background: rgba(255, 255, 203, 0.8);
    color: #000;
    line-height: 1.5;
    font-family: monospace;
    padding-left: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    padding-top: 3px;
}

#app > section.placeholder > * {
    filter: blur(2px) !important;
}

#app > section.placeholder * {
    cursor: default !important;
}

#app > span.loading {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 45%;
    background-color: initial;
    color: rgba(255, 255, 203, 0.8);
    font-size: 2.0rem;
    filter: blur(0);
    z-index: 10000;
}

#app > section.placeholder .editor {
    height: 100%;
    width: 100%;
    background-color: rgb(30, 30, 30);
    padding-left: 64px;
}
